/* Start-Global-Rules */
:root{
--main-color:black;
--main-transition:0.3s;
--border-color:#2f3336;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--main-color);
}
/* End-Global-Rules */
/* Start-Header */
header{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 25%;
  height: 100%;
  padding-left: 14%;
  padding-top: 20px;
  border-right: 1px solid var(--border-color);
}
@media(max-width:1535px){
  header{
    width: 80px;
    padding-left: 10px;
    align-items: center;
  }
}
header  > i{
transition: var(--main-transition);
cursor: pointer;
margin-bottom: 30px;
width: fit-content;
}
header > i:hover{
  color: #2fa1ec;
}

header  a{
  width: fit-content;
  padding: 15px 20px;
  border-radius: 30px;
  margin-bottom: 10px;
  transition: var(--main-transition);
}
@media(max-width:1535px){
  header  a{
    justify-content: center;
    padding: 10px 15px;
    margin: 0 auto;
  }
  header  a span{
    display: none;
  }
}
header  a:hover{
  background-color: var(--border-color);
}
header  a i{
font-size: 25px;
margin-right: 20px;
}
@media(max-width:1535px){
  header  a i{
    margin: 0;
  }
}
/* End-Header */
/* Start-Main */
main{
  margin-left: 25%;
  width: 35%;
  color: white;
}
main .main-head{
  position: sticky;
  top: 0;
  border-bottom: 1px solid var(--border-color);
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.889);
}
main .main-head .search-head{
display: flex;
align-items: center;
justify-content: center;
padding: 10px 20px;
}
main .main-head .search-head .search{
width: 75%;
height: 45px;
border-radius: 30px;
position: relative; 
flex: 1;
}

main .main-head .search-head .search i {
position: absolute;
content: "";
left: 20px;
top: 15px;
}
main .main-head .search-head .search input {
width: 100%;
height: 100%;
border-radius: 30px;
outline: none;
padding: 20px;
padding-left: 50px;
background-color: #202327;
caret-color: white;
color: white;
border: none;
transition: var(--main-transition);
}
main .main-head .search-head .search input:focus{
  border: 1px solid #2fa1ec;
}
main .main-head .search-head .search input:focus + i{
  color: #2fa1ec;
}
main .main-head .search-head >i{
font-size: 19px;
margin-left: 20px;
padding: 10px;
border-radius: 50%;
cursor: pointer;
transition: var(--main-transition);
}
main .main-head .search-head >i:hover{
  background-color: var(--border-color);
}
main .tab-list{
  display: flex;
  align-items: center;
}
main .tab-list li{
  flex: 1;
  text-align: center;
}
main .tab-list li a{
display: block;
padding: 15px;
color: white;
font-size: 16px;
position: relative;
transition: var(--main-transition);
font-weight: bold;
}
main .tab-list li a::after{
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width:0px;
  height: 4px;
  border-radius: 3px;
  background-color: #2fa1ec;
  transition: var(--main-transition);
}
main .tab-list li a:hover::after{
width: 40px;
}
main .tab-list li a:hover{
  background-color: var(--border-color);
}
main .content .new .img{
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}
main .content .new .img img{
max-width: 100%;
}
main .content .new span{
  position: absolute;
  content: "";
  top: 80%;
  left: 15px;
  font-size: 15px;
}
main .content .new h3{
  position: absolute;
  content: "";
  right: 15px;
  top: 85%;
  font-size: 30px;
}
main .content .trend{
  padding: 10px 15px;
  cursor: pointer;
}
main .content .trend:hover{
  background-color: rgba(20, 19, 19, 0.712);
}
main .content .trend span{
  color: gray;
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
main .content .trend p{
  text-align: right;
}
/* End-Main */