/* Start-Global-Rules */
:root{
--main-color:black;
--main-transition:0.3s;
--border-color:#2f3336;
--icons-color:white;
--link-color:white;
--transparent-background-color:rgba(0, 0, 0, 0.889);
--cyan-color:#2fa1ec;
--gray-color:gray;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
body{
  font-family: 'Ubuntu', sans-serif;
  background-color: var(--main-color);
}
/* End-Global-Rules */
/* Start-Header */
header{
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 25%;
  height: 100%;
  padding-left: 14%;
  padding-top: 20px;
  border-right: 1px solid var(--border-color);
}
@media(max-width:1535px){
  header{
    width: 80px;
    padding-left: 10px;
    align-items: center;
  }
}
header  > i{
transition: var(--main-transition);
cursor: pointer;
margin-bottom: 30px;
width: fit-content;
}
header > i:hover{
  color: var(--cyan-color);
}

header  a{
  width: fit-content;
  padding: 15px 20px;
  border-radius: 30px;
  margin-bottom: 10px;
  transition: var(--main-transition);
}
@media(max-width:1535px){
  header  a{
    justify-content: center;
    padding: 10px 15px;
    margin: 0 auto;
  }
  header  a span{
    display: none;
  }
}
header  a:hover{
  background-color: var(--border-color);
}
header  a i{
font-size: 25px;
margin-right: 20px;
}
@media(max-width:1535px){
  header  a i{
    margin: 0;
  }
}
/* End-Header */
/* Start-Main */
main{
  margin-left: 25%;
  width: 35%;
}
@media(max-width:1500px){
  main{
    margin-left: 80px;
    width: calc(100% - 80px);
  }
}

main .main-head{
position: sticky;
top: 0;
border-bottom: 1px solid var(--border-color);
z-index: 9;
background-color: var(--transparent-background-color);
}
main .main-head .search-head{
justify-content: center;
padding: 10px 20px;
}
@media(max-width:767px){
  main .main-head .search-head{
    padding: 10px 10px 15px;
  }
}
main .main-head .search-head .search{
width: 75%;
height: 45px;
border-radius: 30px;
position: relative;
}
@media(max-width:767px){
  main .main-head .search-head .search{
    width: 68%;
    height: 35px;
  }
}

main .main-head .search-head .search i {
position: absolute;
content: "";
left: 20px;
top: 15px;
color: var(--icons-color);
}
main .main-head .search-head .search input {
width: 100%;
height: 100%;
border-radius: 30px;
outline: none;
padding-left: 50px;
background-color: #202327;
caret-color: white;
border: none;
transition: var(--main-transition);
}
main .main-head .search-head .search input:focus{
  border: 1px solid var(--cyan-color);
}
main .main-head .search-head .search input:focus + i{
  color: var(--cyan-color);
}
main .main-head .search-head >i{
font-size: 19px;
margin-left: 20px;
border-radius: 50%;
cursor: pointer;
transition: var(--main-transition);
color: var(--icons-color);
}
main .main-head .search-head >i:hover{
  background-color: var(--border-color);
}
main .tab-list li{
  flex: 1;
  text-align: center;
}
@media(max-width:767px){
  main .tab-list{
    margin-bottom: 10px;
  }
}
main .tab-list li a{
display: block;
padding: 15px;
font-size: 16px;
position: relative;
transition: var(--main-transition);
font-weight: bold;
}
@media(max-width:767px){
  main .tab-list li a{
    padding: 3px;
    font-size: 10px;
  }
}
main .tab-list li a::after{
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  width:0px;
  height: 4px;
  border-radius: 3px;
  background-color: var(--cyan-color);
  transition: var(--main-transition);
}
main .tab-list li a:hover::after{
width: 40px;
}
main .tab-list li a:hover{
  background-color: var(--border-color);
}
main .content .new .img{
  position: relative;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
}
@media(max-width:767px){
  main .content .new .img{
    padding-bottom: 0;
  }
}
main .content .new .img img{
max-width: 100%;
width: 100%;
}
main .content .new span{
  position: absolute;
  content: "";
  top: 80%;
  left: 15px;
  font-size: 15px;
}
@media(max-width:767px){
  main .content .new span{
    font-size: 10px;
  }
}
main .content .new h3{
  position: absolute;
  content: "";
  right: 15px;
  top: 85%;
}
@media(max-width:767px){
  main .content .new h3{
    font-size: 14px;
  }
}
main .content .trend{
  padding: 10px 15px;
  cursor: pointer;
}
main .content .trend:hover{
  background-color: rgba(20, 19, 19, 0.712);
}
main .content .trend span{
  color: var(--gray-color);
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
}
main .content .trend p{
  text-align: right;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  direction: rtl;
}
@media(max-width:767px){
  main .content .trend p{
    font-size: 14px;
  }
}
main .content .trend-3 .holder{
justify-content: flex-end;
}
main .content .holder img{
  max-width: 100%;
  border-radius: 10px;
  margin-left: 15px;
}
@media(max-width:767px){
  main .content .holder img{
    max-width: 35%;
  }
}
main .content .trend-4 p,
main .content .trend-9 p{
  text-align: left;
}
@media(max-width:767px){
  main .content .trend-4 p,
main .content .trend-9 p{
  font-size: 12px;
}
}
/* End-Main */
/* Start-Footer */
aside{
  position: fixed;
  top: 0;
  left: 60%;
  height: 100%;
  width: calc(100% - 60%);
  border-left: 1px solid var(--border-color);
  color: white;
  padding: 10px 15% 10px 20px;
}
@media(max-width:1500px){
  aside{
    display: none;
  }
}
aside .follow{
  background-color: var(--border-color);
  border-radius: 15px;
}
aside .follow h3{
  margin-bottom: 30px;
  font-size: 25px;
}
aside .follow .user{
  margin-bottom: 30px;
}
aside .follow .user .profile{
gap: 15px;
}
aside .follow .user .profile img{
max-width: 60px;
max-height: 60px;
border-radius: 50%;
border: 3px solid var(--cyan-color);
cursor: pointer;
transition: var(--main-transition);
}
aside .follow .user .profile img:hover{
  transform: scale(1.1) rotate(10deg);
}
aside .follow .user .profile p{
  margin-bottom: 8px;
}
aside .follow .user .profile span{
color: var(--gray-color);
}
aside .follow .user a{
width: fit-content;
background-color: white;
padding: 10px 15px;
border-radius: 20px;
color: black;
transition: var(--main-transition);
}
aside .follow .user a:hover{
  background-color: var(--cyan-color);
  color: white;
}
/* End-Footer */